$background-color: #ffffff;

$primary-color: #2e9db6 !default;
$primary-accent-color: #008cff !default;

$secondary-color: #706f6f !default;
$secondary-accent-color: #706f6f !default;

$container-size: 15%;
